  body
     {
    background-color: #D3DEDC;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
  }

  h1{
    color: #66BFBF;
  }

  h3{
    color: #66BFBF
  }

  .table1{
    width: 50%;
    white-space: inherit;
  }

  td img{
    width: 30%;
    height: auto;
    border-radius: 50%;
  }
